<h1>Products</h1>
<button type="button" (click)="open(content,'create',{name:'',price:0})" class="btn btn-primary">Add new product</button>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Product Id</th>
        <th scope="col">Product Name</th>
        <th scope="col">Product Price</th>
        <th scope="col" colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of dt">
        <th scope="row">{{item.id}}</th>
        <th>{{item.name}}</th>
        <td>{{item.price}}</td>
        <td><button class="btn" (click)="open(content,'update',item)"><i class="fa fa-pencil"></i></button></td>
        <td><button class="btn" (click)="delete(item.id)"><i class="fa fa-close"></i></button></td>
      </tr>
      
    </tbody>
  </table>

  <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{modalTitle}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class={{formClass}} #f="ngForm" novalidate>
          <div class="form-group row">
              <label for="productName" class="col-sm-4 col-form-label">Product Name</label>
              <div class="col-sm-8">
                <input type="text" required class="form-control" [(ngModel)]="product.name" name="name" id="name" placeholder="Enter Product Name">
                <div class="invalid-feedback">
                    Please provide a Product Name.
                  </div>.
              </div>
          </div>
          <div class="form-group row">
              <label for="productPrice" class="col-sm-4 col-form-label">Product price</label>
              <div class="col-sm-8">
                <input type="number" required step="1" min="0" [(ngModel)]="product.price" name="price" class="form-control" id="price" placeholder="Enter Product Price">
              </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="save(f,modal)">Save</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Pressed cancel')">Cancel</button>
      </div>
    </ng-template>